<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="bin\WebApplication1.exe" 
                arguments="" 
                stdoutLogEnabled="true" 
                stdoutLogFile="logs\stdout"
                hostingModel="InProcess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
        <environmentVariable name="ASPNETCORE_URLS" value="http://*:80" />
      </environmentVariables>
    </aspNetCore>
    
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="bin" />
          <add segment="logs" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    
    <rewrite>
      <rules>
        <rule name="ASP.NET Core" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>